<section id="cabecalho" class="section-padding jumbotron">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h5 class="lead lead-titulo text-muted text-uppercase">Faça novos amigos, forme grupos e se divirta!</h5>
                <h1 class="lead dsc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, corrupti nam!
                </h1>
                <p>
                    <a href="#" class="botao btn btn-primary my-2">Comece Agora!</a>
                </p>
            </div>
            <div class="col-6 image-cropper">
                <img src="../assets/img/photo-one.jpg" class="img-fluid img-cabecalho" alt="">
            </div>
        </div>
    </div>
</section>
<section id="sobre" class="section-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <h3 class="titulo-sobre">Sobre</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nihil quod, magni, et pariatur
                    minima cupiditate id ad error aperiam dolores delectus commodi qui excepturi. Aliquam corrupti sint,
                    eius doloribus corporis molestias dolor modi velit in, consequatur quam! Distinctio, ad. Odit
                    delectus eius repudiandae aperiam odio officia asperiores itaque rem autem! A eaque eius nemo
                    maiores quia facere quae corporis repudiandae ad nostrum earum, dolore fuga, reprehenderit sequi
                    amet minus.
                </p>
                <img src="../assets/img/logo.png" class="img-fluid logo-sobre" alt="">
            </div>
            <div class="col-md-5">
                <img src="../assets/img/personagem.png" class="img-fluid personagem" alt="">
            </div>
        </div>
    </div>
</section>
<section id="funcionalidades" class="section-padding">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-4">
            <h1 class="font-weight-bold text-uppercase text-color-azul">Funcionalidades</h1>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="w-100">
                            Minas Gerais, MG
                        </div>
                        <div>
                            <small>RPG</small>
                        </div>
                    </div>
                </div>
                <img src="../assets/img/photo-three.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blake Shelton</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, atque praesentium iure consequatur id repellendus.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="w-100">
                            Rio de Janeiro, RJ
                        </div>
                        <div>
                            <small>RPG</small>
                        </div>
                    </div>
                </div>
                <img src="../assets/img/photo-four.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Steve Angello</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero eum quae sequi, nam voluptatibus fugiat?</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <div class="w-100">
                            São Paulo, SP
                        </div>
                        <div>
                            <small>RPG</small>
                        </div>
                    </div>
                </div>
                <img src="../assets/img/photo-five.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blake Shelton</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam in soluta ullam praesentium et consequuntur!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contato" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="titulo-contato">Contato</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nihil quod, magni, et pariatur
                    minima cupiditate id ad error aperiam dolores delectus commodi qui excepturi. Aliquam corrupti sint,
                    eius doloribus corporis molestias dolor modi velit in, consequatur quam! Distinctio, ad. Odit
                    delectus eius repudiandae aperiam odio officia asperiores itaque rem autem! A eaque eius nemo
                    maiores quia facere quae corporis repudiandae ad nostrum earum, dolore fuga, reprehenderit sequi
                    amet minus.
                </p>
                <div class="botao-contato"> 
                    <a href="#" class="bg-purple btn btn-primary my-2">Contato</a>
                </div>
            </div>
        </div>
    </div>
</section>