#convite{
    padding:1vh;
    background-image: linear-gradient(to right, #46C2FF, #BD11FA);
}
.alert{
    background:whitesmoke;
}
.row{
    padding:10px;
}
div{
    padding:10px;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display:flex;
    Justify-content: flex-end;
}

.descricao{
    background:white;
    border-radius: 10px;
    padding: 10px;
}

h5{
    font-size: 25px;
}
.btn{
    width: 100px;
}