#convidar{
    padding:10vh;
    background-image: linear-gradient(to right, #46C2FF, #BD11FA);
}
.container{
    color:#2979FF;
    background-color: #21212E;
    padding: 20px;
    border-radius:10px;
    max-width: 640px;
    border-radius:5px;
}

.button{
    width: 150px;
    padding: 10px;
    background-image: linear-gradient(to right, #BD11FA, #46C2FF);
    outline: unset;
}