<section id="register" >
    <div class="container-fluid pt-4 pb-4">
          <div class="col-md-12 offset-md-12 form-register">
            <p>Cadastro de Personagem</p>
            <form method="post" [formGroup]= "formRegistroPersonagem" (ngSubmit)="onSubmit()">
                <div class="form-row pb-3">
                    <div class="col-md-12 mb-12">
                        <label for="primeiroNome">Nome do Personagem</label>
                        <input type="text" class="form-control" id="idInputNome"  placeholder="Insira o nome do seu personagem" formControlName = "nomePersonagem" required>
    
                        <div *ngIf="formRegistroPersonagem.get('nomePersonagem').invalid && (formRegistroPersonagem.get('nomePersonagem').dirty || formRegistroPersonagem.get('nomePersonagem').touched)"
                            class="alert alert-danger">
                          <div *ngIf="formRegistroPersonagem.get('nomePersonagem').errors.required">
                            Campo obrigatório.
                          </div>
                          <div *ngIf="formRegistroPersonagem.get('nomePersonagem').errors.minlength">
                            O nome precisa ter pelo menos 4 caracteres.
                          </div>
                        </div>
                    </div>
                </div>

                <div class="form-row pb-3">
                    <div class="col-md-6 mb-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Raça</label>
                            <select class="form-control" id="idSelectRaca" formControlName ="racaPersonagem">
                              <option *ngFor="let raca of RACAS" value= {{raca.idRaca}} >

                                {{raca.nomeRaca}}

                              </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 mb-6">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Classe</label>
                            <select class="form-control" id="idSelectClasse" formControlName ="classePersonagem">
                              <option *ngFor="let classe of CLASSES" value = {{classe.idClasse}} >

                                {{classe.nomeClasse}}

                              </option>
                              
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row pb-3">
                    <div class="col-md-12 mb-12">
                    <div class="form-group">
                        <label for="idHistoriaPersonagem">História do personagem</label>
                        <textarea maxlength="200" class="form-control" id="idHistoriaPersonagem" rows="3" formControlName = "historiaPersonagem"></textarea>
                    </div>

                    <div *ngIf="formRegistroPersonagem.get('historiaPersonagem').invalid && (formRegistroPersonagem.get('historiaPersonagem').dirty || formRegistroPersonagem.get('historiaPersonagem').touched)"
                    class="alert alert-danger">
                    <div *ngIf="formRegistroPersonagem.get('historiaPersonagem').errors.required">
                    Campo obrigatório.
                  </div>
                  <div *ngIf="formRegistroPersonagem.get('historiaPersonagem').errors.minlength">
                    A história está muito curta
                  </div>
                </div>

                    </div>
                
                </div>

                <div class="form-row pb-3">
                  <div class="col-md-6 mb-6">

                    <div class="col-md-6 d-flex center">
                      <button type= "submit" class="btn button btn-primary my-sm-1"  >Criar </button>
                    </div>

                  </div>
                </div>
                
            </form>
          </div>
      </div>
    

    

  </section>
  
  
  