<app-topo></app-topo>
<div class="container">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/assassino.jpg" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">RubensMTCruel</h5>
          <p class="card-text"><small class="text-muted">Raça: Humano</small></p>
          <p class="card-text"><small class="text-muted">Classe: Assassino</small></p>
          <p class="card-text"><small class="text-muted">Nível: 26</small></p>
          <p class="card-text historia">180 caracteres orem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae quidem ex iusto enim! Distinctio dicta iure voluptates nam id dolore unde, praesentium beatae. Cum</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/guerreiro.jpg" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Trevozo1337</h5>
          <p class="card-text"><small class="text-muted">Raça: Humano</small></p>
          <p class="card-text"><small class="text-muted">Classe: Guerreiro</small></p>
          <p class="card-text"><small class="text-muted">Nível: 8</small></p>
          <p class="card-text historia">180 caracteres orem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae quidem ex iusto enim! Distinctio dicta iure voluptates nam id dolore unde, praesentium beatae. Cum</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/mago.png" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">DouglasDaSinuca</h5>
          <p class="card-text"><small class="text-muted">Raça: Elfo</small></p>
          <p class="card-text"><small class="text-muted">Classe: Mago</small></p>
          <p class="card-text"><small class="text-muted">Nível: 3</small></p>
          <p class="card-text historia"></p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>
</div>
  