#personagem {
    padding:1vh;
    background-image: linear-gradient(to right, #46C2FF, #BD11FA);
}
.row{
    width:90%;
}
.col-sm-3{
    padding-top: 10px;
    padding-left: 30px;
}
.card-header{
    border-color:#46C2FF;
}
.card{
    background-color: #21212E;
    color: white;
}
