
.outside {
  position: relative;
  background-image: linear-gradient(to left, #BD11FA, #46C2FF);
  display: grid;
  flex-direction: row;
  justify-items: center;
}

.inside {
  position: relative;
  margin: 10%;
  width: 60%;
  height: auto;
  padding: 50px;
  background-color: #21212E;
  border: 2px solid cadetblue;
  z-index: 0px;
}

form {
  border: 2px solid cadetblue;
  padding: 20px;
}

#blueWarrior {
  position: absolute;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
  height: auto;
  width: 35%;
  z-index: -20px;
}

#pinkFairy {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 40%;
  z-index: -20px;
}

#contact .contact-title {
    font-size: 25px;
    text-transform: uppercase;
    color:  cadetblue;
    border-bottom: 1px solid cadetblue;
    width: fit-content;
    font-weight: bold;
    padding: 5px;
}

#contact, #emailHelper{
  color: #fff !important;
  font-size: 17px;
}

.btn-primary {
  background-color: cadetblue;;
  color: #21212E;
  border: #fff cadetblue;
  outline: unset;
}

.asterisk::after {
  content:" ( *)";
  color: #BD11FA;
}
