<section id=login class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 offset-md-4 form-recovery">
                <form>
                    <div class="form-group">
                        <h1>Recuperar Senha</h1>
                        <h3>Insira o endereço de e-mail ou Usuário associado à sua conta.</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail ou Usuário</label>
                            <input  class="form-control" id="exampleFormControlInput1">
                        </div>
                    </div>
                    <button type="submit" class="btn button btn-primary my-sm-0" routerLink="/login"
                        routerLinkActive="active">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>