<app-topo></app-topo>
<div class="container">

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/mestre-dado.jpg" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mestre dos magos nome do usuário</h5>
          <p class="card-text"><small class="text-muted">Experiencia: 8 anos</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text historia"></p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/mestre-mundo.jpg" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mestre dos magos nome do usuário</h5>
          <p class="card-text"><small class="text-muted">Experiencia: 8 anos</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text historia">180 caracteres orem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae quidem ex iusto enim! Distinctio dicta iure voluptates nam id dolore unde, praesentium beatae. Cum</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/img/mestre-mesa.jpg" class="card-img"  alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Mestre dos magos nome do usuário</h5>
          <p class="card-text"><small class="text-muted">Experiencia: 8 anos</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: 150</small></p>
          <p class="card-text historia">180 caracteres orem ipsum dolor sit amet consectetur adipisicing elit. Quis vitae quidem ex iusto enim! Distinctio dicta iure voluptates nam id dolore unde, praesentium beatae. Cum</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>