<section id = mestre>
   <div class="row" >
    <div class="col-sm-3 " *ngFor="let mestre of MESTRES" >
      <div class="card text">
        <div class="card-header">
          {{idUsuarioToNome(mestre.idUsuario)}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Experiencia: {{mestre.anosExperiencia}} anos</h5>
          <h5 class="card-title">Campanhas mestradas: {{mestre.campanhasMestradas}}</h5>
          <a  (click) = 'salvarMestre(mestre.idUsuario,mestre.idMestre)'  (click) = 'abrirModal()' class="btn btn-dark">Convidar</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalConvite let-c="close" let-d="dismiss">
    <app-convidar></app-convidar>
  </ng-template> 
</section>