<section id="register" class = "section-padding">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 offset-md-4 form-register">
        <form method="post" [formGroup]="formRegistro" (ngSubmit)="onSubmit()" >
            <div class="form-row pb-3">
                <div class="col-md-4 mb-6">
                    <label for="primeiroNome">Nome</label>
                    <input type="text" class="form-control" id="idInputNome"  placeholder="Primeiro Nome" formControlName = "nome" required>

                    <div *ngIf="formRegistro.get('nome').invalid && (formRegistro.get('nome').dirty || formRegistro.get('nome').touched)"
                        class="alert alert-danger">
                      <div *ngIf="formRegistro.get('nome').errors.required">
                        Campo obrigatório.
                      </div>
                      <div *ngIf="formRegistro.get('nome').errors.minlength">
                        O nome precisa ter pelo menos 4 caracteres.
                      </div>
                    </div>
                </div>
                    
                <div class="col-md-4 mb-6">
                  <label for="sobreNome">Sobrenome</label>
                  <input type="name" class="form-control" id="idInputSobrenome" placeholder="Sobrenome" formControlName ="sobrenome" required>

                  <div *ngIf="formRegistro.get('sobrenome').invalid && (formRegistro.get('sobrenome').dirty || formRegistro.get('sobrenome').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('sobrenome').errors.required">
                     Campo obrigatório.
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-6"> 
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="idInputEmail" placeholder="Digite seu email"  formControlName ="email" required>

                  <div *ngIf="formRegistro.get('email').invalid && (formRegistro.get('email').dirty || formRegistro.get('email').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('email').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('email').errors.email">
                      Email inválido.
                    </div>
 
                  </div>
                </div>
            </div>
        
            

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">Nome de Usuário</label>
                <input type="text" class="form-control" id="idInputUser" placeholder="Nome de usuário"formControlName ="nomeUsuario" required>

                <div *ngIf="formRegistro.get('nomeUsuario').invalid && (formRegistro.get('nomeUsuario').dirty || formRegistro.get('nomeUsuario').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('nomeUsuario').errors.required">
                     Campo obrigatório.
                    </div>
                </div>
               
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">CPF</label>
                <input type="text" class="form-control" id="idInputCPF" mask = "000.000.000-00" placeholder="Insira seu CPF" formControlName ="cpf" required>

                <div *ngIf="formRegistro.get('cpf').invalid && (formRegistro.get('cpf').dirty || formRegistro.get('cpf').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('cpf').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('cpf').errors.minlength">
                      CPF Inválido.
                    </div>
                </div>


              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">CEP(apenas números)</label>
                <input type="text" class="form-control" id="idInputCep" mask = "00000-000" placeholder="CEP"formControlName ="cep"  required>

                <div *ngIf="formRegistro.get('cep').invalid && (formRegistro.get('cep').dirty || formRegistro.get('cep').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('cep').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('cep').errors.minlength">
                      CEP Inválido.
                    </div>
                </div>


              </div>
              <div class="col-md-6 mb-3">
                <div class="col-md-6 d-flex justify-content-end">
                  <a (click) = "buscarCEP()" class="btn button btn-primary my-sm-0 mt-6">Encontrar</a>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2 mb-3">
                <label for="validationDefault01">Estado</label>
                <input type="text" class="form-control " readonly id="idInputEstado"  value = "{{ estado }}" required>
              </div>
              <div class="col-md-5 mb-3">
                <label for="validationDefault01">Cidade</label>
                <input type="text" class="form-control" readonly id="idInputCidade"  value = "{{ cidade }}" required>
              </div>

              <div class="col-md-5 mb-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Gênero</label>
                  <select class="form-control" id="idSelectGenero" formControlName ="genero">
                    <option>M</option>
                    <option>F</option>
                    <option>Outro</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">Data de Nascimento</label>
                <input type="text" class="form-control phone_with_ddd" mask="00/00/0000" id="idInputData"  formControlName ="dataNascimento" required>

                <div *ngIf="formRegistro.get('dataNascimento').invalid && (formRegistro.get('dataNascimento').dirty || formRegistro.get('dataNascimento').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('dataNascimento').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('dataNascimento').errors.minlength">
                      Data deve estar no formato DD/MM/AAAA.
                    </div>
                </div>


              </div>
              <div class="col-md-6 mb-3">
                <label for="validationDefault01">Telefone</label>
                <input type="text" class="form-control phone_with_ddd" mask="(00) 00000-9999" id="idInputTelefone" formControlName ="telefone"  required>

                <div *ngIf="formRegistro.get('telefone').invalid && (formRegistro.get('telefone').dirty || formRegistro.get('telefone').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('telefone').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('telefone').errors.minlength">
                      Telefone deve estar no formato (DDD)XXXXX-XXXX.
                    </div>
                </div>

              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="exampleInputPassword1">Senha</label>
                <input type="password" class="form-control" id="idInputSenha1"  formControlName ="senha" required>

                <div *ngIf="formRegistro.get('senha').invalid && (formRegistro.get('senha').dirty || formRegistro.get('senha').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('senha').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('senha').errors.minlength">
                      A senha deve ter pelo menos 8 caracteres.
                    </div>
                </div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="exampleInputPassword1">Confirmar</label>
                <input type="password" class="form-control" id="idInputSenha2" formControlName = "confirmaSenha" required>

                <div *ngIf="formRegistro.get('confirmaSenha').invalid && (formRegistro.get('confirmaSenha').dirty || formRegistro.get('confirmaSenha').touched)"
                  class="alert alert-danger">
                    <div *ngIf="formRegistro.get('confirmaSenha').errors.required">
                     Campo obrigatório.
                    </div>
                    <div *ngIf="formRegistro.get('confirmaSenha').errors.NotEqual">
                      As senhas não batem.
                    </div>
                   
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <small class="form-check-label text-muted" for="invalidCheck2">
                  Concordo com os termos e condições
                </small>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-6 d-flex justify-content-around">
                  <a href="#login">Já tenho uma conta!</a>
              </div>
              <div class="col-md-6 d-flex justify-content-end">
                    <button type= "submit" class="btn button btn-primary my-sm-0"  >Criar conta </button>
              </div>
            </div>
            
        </form>
      </div>
    </div>
  </div>


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erroe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Há erros ainda no formulário
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



</section>


