<div class="alert" role="alert">
    <div class="row">
        <div class="col-1" *ngIf="tipoConvite()"><img src="../../assets/img/convite-personagem.png"></div>
        <div class="col-1" *ngIf="!tipoConvite()"><img src="../../assets/img/convite-mestre.png"></div>
        <div class="col-sm" *ngIf="tipoConvite()"><h5 > {{this.NomeConvite}} quer convidar você para jogar com o seu pergonagem <b> {{NomePersonagem}}</b> </h5></div>
        <div class="col-sm" *ngIf="!tipoConvite()"><h5 > {{this.NomeConvite}} lhe convidou para jogar como mestre </h5></div>
        <div class="col-sm descricao"><p class="card-text historia"> {{mensagemConvite}} </p></div>
        <div class="col-2 d-flex justify-content-end" ><button type="button" (click) = "sendWpp()" class="btn btn-success">Aceitar</button></div>
        <div class="col-2 d-flex justify-content-start"><button type="button" (click) =  "recusarConvite()" class="btn btn-danger">Recusar</button></div>
    </div>
</div>