<app-topo></app-topo>
<div class="container">

  <div class="card mb-3" style="max-width: 540px;" *ngFor="let personagem of personagens">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="personagem.imagens.url" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{personagem.nomePersonagem}}</h5>
          <p class="card-text"><small class="text-muted">Raça: {{personagem.id_raca}}</small></p>
          <p class="card-text"><small class="text-muted">Classe: {{personagem.id_classe}}</small></p>
          <p class="card-text"><small class="text-muted">Nível: {{personagem.nivel}}</small></p>
          <p class="card-text historia">{{personagem.historia_personagem}}</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3" style="max-width: 540px;" *ngFor="let mestre of mestres">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="mestre.imagens.url" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{mestre.nome_usuario}}</h5>
          <p class="card-text"><small class="text-muted">Experiencia: {{mestre.anos_experiencia}} anos</small></p>
          <p class="card-text"><small class="text-muted">Campanhas mestradas: {{mestre.campanhas_mestradas}}</small></p>
          <p class="card-text"><small class="text-muted">Tem que tirar</small></p>
          <p class="card-text historia">{{mestre.como_mestro}}</p>
          <button type="button" class="btn btn-dark ">Chamar</button>
        </div>
      </div>
    </div>
  </div>


</div>