.container {
    padding:10vh;
}
.form-login{
    color:#6394fd;
    background-color: #1C1445;
    padding:10px;
    border-radius:5px;
}

.form-control{
    background:#1C1445;
    color:#6394fd;
    border:1px solid #6394fd;
}
::-webkit-input-placeholder {
    color: #6394fd;
    font-size: 14px;
 }
