.bg-purple {
    background-color: #21212E;
}
.logo {
    width: 200px;
    height: auto;
}
.nav-menu .nav-item .nav-link{
    color: white;
}
.botao{
    width: 150px;
    padding: 10px;
    background-image: linear-gradient(to right, #BD11FA, #46C2FF);
    outline: unset;
}
.botao-hover {
    width: 150px;
    padding: 10px;
    outline: unset;
}
.example-spacer {
    flex: 1 1 auto;
}
#footer-contato {
    padding: 60px;
}
#footer-contato h5 {
    color: #40C4FF;
    text-transform: uppercase;
    font-size: 14px;
}
#footer-contato ul li a,
#footer-contato .text-muted{
    color: white !important;
}