<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" routerLink="/" routerLinkActive="active">Epic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link mx-2" routerLink="/" routerLinkActive="active">INÍCIO <span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">SOBRE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">FUNCIONALIDADES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">CONTATO</a>
				</li>
			</ul>
			<a class="btn btn-primary mx-2 my-sm-0" routerLink="/login" routerLinkActive="active">Sign in</a>
			<a class="btn btn-outline-primary mx-2 my-sm-0" routerLink="/register" routerLinkActive="active">Sign up</a>
		</div>
	</div>
</nav>
<section>
	<router-outlet></router-outlet>
</section>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md">
				<h1>Epic</h1>
				<small class="d-block mb-3 text-muted">© 2017-2020</small>
			</div>
			<div class="col-6 col-md">
				<h5>Features</h5>
				<ul class="list-unstyled text-small">
					<li>
						<a href="" class="text-decoration-none mr-3"><img src="../assets/img/icons/facebook.svg" alt=""></a>
						<a href="" class="text-decoration-none mr-3"><img src="../assets/img/icons/twitter.svg" alt=""></a>
						<a href="" class="text-decoration-none"><img src="../assets/img/icons/instagram.svg" alt=""></a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Links</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Início</a></li>
					<li><a class="text-muted" href="#">Sobre</a></li>
					<li><a class="text-muted" href="#">Funcionalidades</a></li>
					<li><a class="text-muted" href="#">Contato</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Sobre</h5>
				<ul class="list-unstyled text-small">
					<li>
						<p class="text-muted">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deleniti sapiente suscipit!
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>