.bg-purple {
    background-color: #21212E;
}
.logo {
    width: 120px;
    height: auto;
}
.nav-menu .nav-item .nav-link{
    color: white;
}
.botao{
    width: 150px;
    padding: 10px;
    background-image: linear-gradient(to right, #BD11FA, #46C2FF);
    outline: unset;
}
.botao-hover {
    width: 150px;
    padding: 10px;
    outline: unset;
}
.example-spacer {
    flex: 1 1 auto;
}


.form-inline{
    width:65%;
    justify-content: center;
}
.form-control{
    width: 40%;
}

.navbar-nav .nav-item .nav-link{
    color:white;
}

.collapse{
    padding-left: 58%;
}