<nav class="navbar navbar-expand-lg navbar-light bg-purple" *ngIf="mostrarHomeLogin">
	<div class="container">
		<a class="logo navbar-brand" routerLink="/" routerLinkActive="active"><img src="../assets/img/logo.png"
				class="img-fluid" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto nav-menu">
				<li class="nav-item active">
					<a class="nav-link mx-2" routerLink="/" routerLinkActive="active">INÍCIO <span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">SOBRE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#">FUNCIONALIDADES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2" href="#" routerLink="/contact" routerLinkActive="active">CONTATO</a>
				</li>
			</ul>
			<a class="btn botao btn-primary mx-2 my-sm-0" routerLink="/login" routerLinkActive="active">Login</a>
			<a class="btn botao-hover btn-outline-primary mx-2 my-sm-0" routerLink="/register"
				routerLinkActive="active">Cadastrar</a>
		</div>
	</div>
</nav>




<nav class="navbar navbar-expand-lg navbar-light bg-purple" *ngIf="!mostrarHomeLogin">
	<a class="logo navbar-brand" routerLink="/" routerLinkActive="active"><img src="../assets/img/logo.png"
		class="img-fluid" alt=""></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navbarSupportedContent">

		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search"  placeholder="Pesquisar"
				aria-label="Search">
		</form>
		<div class="col-auto">
			<button class="btn botao btn-primary mx-2 my-sm-0" (click)="onSearch()">Pesquisar</button>
		</div> -->

		<ul class="navbar-nav ">

			<li class="nav-item active">
				<a class="nav-link" routerLink="/mestre">Mestre <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/personagem">Personagem <span class="sr-only">(current)</span></a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" routerLink="/convite">Notificação <span class="sr-only">(current)</span></a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" href="#">Grupo</a>
			</li> -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Perfil
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" routerLink="/dashboard-user" >Perfil</a>
					<a class="dropdown-item" href="#">Configuração</a>
					<a class="dropdown-item" (click)="sair()">Sair</a>
				</div>
			</li>
		</ul>

	</div>
</nav>