.bg-purple {
    background-color: #21212E;
}
.logo {
    width: 200px;
    height: auto;
}
#footer-contato {
    padding: 60px;
}
#footer-contato h5 {
    color: #40C4FF;
    text-transform: uppercase;
    font-size: 14px;
}
#footer-contato ul li a,
#footer-contato .text-muted{
    color: white !important;
}