<footer id="footer-contato" class="bg-purple">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img src="../assets/img/logo.png" class="img-fluid" alt="">
                <small class="d-block mb-3 text-muted">© 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contato</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="" class="text-decoration-none mr-3"><img src="../assets/img/icons/facebook.svg"
                                alt=""></a>
                        <a href="" class="text-decoration-none mr-3"><img src="../assets/img/icons/twitter.svg"
                                alt=""></a>
                        <a href="" class="text-decoration-none"><img src="../assets/img/icons/instagram.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Links</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Início</a></li>
                    <li><a class="text-muted" href="#">Sobre</a></li>
                    <li><a class="text-muted" href="#">Funcionalidades</a></li>
                    <li><a class="text-muted" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sobre</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <p class="text-muted">
                            Projeto Integrador desenvolvido como critério de conclusão do curso Santander Coders Java
                            2020
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>